<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--  *******Test Databases *****-->
    <add name="MedicomsEntities" connectionString="metadata=res://*/Medicoms.csdl|res://*/Medicoms.ssdl|res://*/Medicoms.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=triton-virtual\dev;initial catalog=dbMEDIcoms;user id=usermedicoms;password=m3d!c0ms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KabayanEntities" connectionString="metadata=res://*/Kabayan.csdl|res://*/Kabayan.ssdl|res://*/Kabayan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=triton-virtual\dev;initial catalog=Kabayan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <!---************************** -->
  <entityFramework>
    <contexts>
      <context type="Kabayan.Domain.Context.KabayanContext, Kabayan">
        <databaseInitializer type="Kabayan.Domain.Context.KabayanInitializer, Kabayan" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>