
@{
    ViewBag.Title = "ContactUs";
}

<div class="content-one-column">
    <h2>Inquiries?</h2>
    <p>Do you have questions, comments or suggestions about our product, company, or would you like us to get in touch with you? Please let us know by filling up the form below: </p>


    <div>
        <form>
            <table>
                <tr>
                    <td><label>Subject</label></td>
                    <td><input type="text" placeholder="Enter subject..." /></td>
                </tr>
                <tr>
                    <td><label>Full Name</label></td>
                    <td><input type="text" placeholder="Full name..." /></td>
                </tr>
                <tr>
                    <td><label>Contact</label></td>
                    <td><input type="text" placeholder="Contact Number..." /></td>
                </tr>
                <tr>
                    <td><label>E-Mail</label></td>
                    <td><input type="text" placeholder="Email Address..." /></td>
                </tr>
                <!-- <tr>
                    <td><label>Company Name:</label></td><td><input type="text" placeholder="Full name..." /></td>
                </tr> -->
                <tr>
                    <td><label>Message:</label></td>
                    <td><textarea cols="60" rows="5" placeholder="Enter your message..."></textarea></td>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="button" value="Submit"></input></td>
                </tr>
            </table>
        </form>
        <br /><br /><br /><br /><br /><br />
    </div>
</div>

