
@{
    ViewBag.Title = "Coverage";
}

<div class="content-one-column">
    <div class="coverage">
        <h2>MEMBERSHIP BENEFITS AND PRIVILEGES</h2>
        <h3>PREVENTIVE HEALTH CARE SERVICES</h3>
        <ol>
            <li>
                The following no-charge Preventive Health Care Services will be provided to members by designated MEDICARD Medical Service Unit:
                <ul>
                    <li>
                        Annual Physical Examination (APE) to include:<br /><br />
                        Complete Blood Count<br />
                        Urinalysis (urine examination)<br />
                        Fecalysis (stool examination)<br />
                        Chest X-ray<br />
                        Electrocardiogram (for members 40 years old and above, or if prescribed)<br />
                        Pap smear (for women 40 years old and above, or if prescribed)<br /><br />
                    </li>
                    <li>Management of Health Problems</li>
                    <li>Routine Immunization (except cost of vaccines)</li>
                    <li>Counselling on health habits, diets and Family Planning</li>
                    <li>Record Keeping of Medical History</li>
                </ul>
            </li>
        </ol>
        <h3>OUT-PATIENT SERVICES</h3>
        <ol>
            <li>
                The following Out-Patient Services will be provided to members in any MediCard-accredited hospital:
                <ul>
                    <li>Referral to specialists</li>
                    <li>Regular Consultations and treatment (except prescribed medicines)</li>
                    <li>Eye, Ear, Nose and Throat treatment</li>
                    <li>Treatment of minor injuries and surgery not requiring confinement</li>
                    <li>X-ray and laboratory examinations prescribed by MediCard physician</li>

                </ul>

            </li>
            <li> The member can go directly to the Primary Physician of any accredited hospital or at the Head Office clinic for out-patient consultation. The Primary Physician will request for laboratory or diagnostic examinations or refer the member to a specialist. The member may avail of services form any accredited hospital of his/her choice. All procedures or benefits are subject to the limitations on pre-existing conditions as stated in this Agreement.</li>
        </ol>
        <h3>DENTAL CARE SERVICES</h3>
        <ol>
            <li>
                Members may avail of the following dental care services form any of the accredited dental clinics:
                <ul>
                    <li>Once a year oral prophylaxis (after having paid the annual premium)</li>
                    <li>Consultation and oral examinations</li>
                    <li>Simple tooth extractions, except surgery for impacted tooth</li>
                    <li>Temporary fillings</li>
                    <li>Gum treatment and adjustment of dentures</li>
                    <li>Recementation of loose jackets, crowns, in-lays and on-lays</li>
                    <li>Treatment of mouth lesions, wounds and burns</li>
                </ul>
            </li>
        </ol>

        <h3>HOSPITALIZATION CONFINEMENT BENEFIT</h3>
        <ol>
            <li>
                The following no charge hospitalization (in-patient) services will apply when MediCard physicians prescribe the hospitalization of members in any MediCard Accredited Hospitals or MediCard Medical Centers:
                <ul>
                    <li>No deposit upon admission</li>
                    <li>Room and Board according to type of enrolment</li>
                    <li>Use of operating Theatre and Recovery Room</li>
                    <li>Services of MediCard specialists like anaesthesiologists, internists, surgeon, etc.</li>
                    <li>Services and medications for general/spinal anaesthesia or other forms of anaesthesia deemed necessary for a surgical procedure.</li>
                    <li>Fresh whole blood transfusions and intravenous fluids</li>
                    <li>X-ray and laboratory examinations</li>
                    <li>Administered medicines</li>
                    <li>Dressings, plaster casts, sutures and other items directly related to the medical management of the patient</li>
                    <li>ICU confinements, Chemotherapy, Radiotherapy and Dialysis up to the dreaded disease limit</li>
                    <li>Modern therapeutic modalities and interventional surgical procedures such as, but not limited to laparoscopic surgery and lithotripsy, up to P20,000.00 each per member per year, <strong>subject to PEC</strong></li>
                    <li>CT Scan , MRI and ultrasound up to P20,000.00 each per member per year,<strong> subject to PEC </strong> </li>
                    <li>
                        The following complex diagnostic examinations and therapeutic procedures shall be covered up to P20,000.00 each per member per year,<strong>subject to PEC</strong>:
                        <ol style=" padding-top:10px;">
                            <li>Angiography (e.g. Coronary, cerebral, retinal, pulmonary, GI, Etc.)</li>
                            <li>Pulmonary perfusion scan</li>
                            <li>Tests involving use of Nuclear Technologies (e.g. Radionuclide Ventriculography/Thallium stress testing/ Radionuclide/Thyroid scan, etc.), nuclear technologies such as Pyrosphosphate Scintigraphy, Positron Emission Tomography, Radio Isotope Scanning, etc.) </li>
                            <li>Electromyography, Nerve Conduction Velocity Studies </li>
                            <li>24-Hour Holter Monitoring, 2-D Echo and Doppler</li>
                            <li>Treadmill Stress Test</li>
                            <li>Myelogram</li>
                            <li>Endoscopy including one of video</li>
                            <li>Orthopedic Arthroscopy</li>
                            <li>Adrecortial Function (e.g. Primary Aldosteronism, Cushings Disease)</li>
                            <li>Plasma/Urinary Cortisol, Plasma Aldosterone etc.</li>
                            <li>Mammography (breast cancer) and Sonomammogram </li>
                            <li>Bone densitometry scam (Dexascan) </li>
                            <li>Anti- nuclear antibody (ANA), C- Reactive protein (Rheumatic and its complications), Lupus cell exam</li>
                            <li>Laboratory/ancillary services for conditions whose pathogenesis or subsequent clinical improvement is not yet fully established in Medical Science.</li>
                            <li>New modalities and/or diagnostic and treatment procedures for conditions with established etiologies and its use is only as alternative to the conventional methods.</li>
                            <li>Genetic/Immunologic studies</li>
                            <li>
                                Radioactive Iodine Therapy

                            </li>
                        </ol>
                        <p>
                            Professional fee of the assisting physician in surgical procedures Assistance in administrative requirements through the liaison officers
                            All other items related to the management of the case
                        </p>

                    </li>

                </ul>
            </li>
            <li> Above limits are inclusive of room and board, operating room charges, professional fees and other incidental expenses relative to the procedure. The maximum benefit limit shall be inclusive of consultations, diagnostic procedures and hospitalization. All procedure or benefits are subject to the limitation on pre-existing conditions as stated in this Agreement.</li>
            <li>	Non- emergency confinement or surgery (elective cases) shall be subject to prior review and approval by the MediCard review board. MediCard of reserves the right to direct the members to other physicians or specialists for further opinions as needed so as to protect the interest of both the member and MediCard.</li>
            <li> In case a member is simultaneously covered under more than one corporate or group health maintenance agreements with MediCard, the premiums for which are paid by the member's employer and/or principal, the member, on a per confinement basis, shall only avail of the benefits accruing from one agreement. The member must choose which agreement will apply and his/her confinement will be governed by the terms and conditions and the limits of the agreement of his/her choice. The provision is without prejudice to the member's availment of other benefits under another agreement which may apply for other confinements.</li>
            <li>	Hospitalization or in0patient coverage of a member will depend on his/her final diagnosis. All diagnostic procedures will only be covered if results are within inclusions of this Agreement.</li>
            <li> To be updated by SCAG - For confinements and availments in Makati Medical Center which has a blanket authority policy, all disapproved charges and excess in limits shall be settled directly with the hospital upon exhaustion of limit. Failure of patient to settle the excess bills shall necessitate MediCard to bill the MEMBER for reimbursement with corresponding twenty percent (20%) service fee, payable within ten (10) working days form receipt of billing.</li>
            <li> Effective February 6,2001, Makati Medical Center will only accommodate HMO patients enrolled under Plan 1100 or small private and up. Plans below Plan 1100 or Ward and semi-private will no longer be applicable to the said hospital.</li>

        </ol>
        <h3>EMERGENCY CARE BENEFITS</h3>
        <ol>
            <li>
                In case of emergency where the member avails of the services of MediCard Accredited Hospitals or MediCard Centers, the following are provided free of charge:
                <ul>
                    <li>Doctor's services</li>
                    <li>Medicines used during treatment or for immediate relief</li>
                    <li>Oxygen and intravenous fluids</li>
                    <li>Dressings, casts and sutures</li>
                    <li>Laboratory, x-ray and other diagnostic examinations directly related to the emergency management of the patient.</li>
                </ul>

            </li>
            <li>
                EMERGENCY CARE IN NON-MEDICARD Accredited Hospitals
                When a member is in immediate danger of losing a limb, eye or other parts of the body or is in severe pain that requires immediate relief and enters a non- MediCard accredited hospital for treatment, MediCard agrees to reimburse eighty percent (80%) of the total hospital bills and of professional fees, based on MediCard relative values for accredited hospitals, but not to exceed the amount of P5,000.00. <br /><br />
                MediCard shall pay the said amount when it is verified that MediCard facilities were not used because to have done so would entail a delay resulting in death, serious disability or significant jeopardy to the member's condition or the choice of hospitals was beyond the control of the member or the member's family. Other expenses not covered in using non-MediCard Accredited Hospitals for emergency care is follow up care.
            </li>

        </ol>
        <h3>PRE EXISTING CONDITIONS PROVISIONS</h3>
        <p>All "pre-existing conditions" shall be deemed covered by MediCard provided that the applicable benefits shall not exceed the maximum amount of P5,000.00 (Blue plan) and P10,000 (for Purple plan) for per "pre-existing conditions/disease" per year of membership. </p>
    </div>
    <br /><br /><br />
</div>
