
@{
    ViewBag.Title = "FAQs";
}

<div class="content-one-column">
    <div class="faq">
        <h2>Frequently Asked Questions:</h2>
        <ul>
            <li>
                <strong>What is MediCard Kabayan?</strong>
                <p>MediCard Kabayan is a new and innovative product that aims to give everyone access to quality healthcare. Specifically designed for OFWs, MediCard Kabayan provides flexibility because it allows the sponsor to enrol practically everyone - not just immediate family members. The plan is also affordable because the sponsor who is based abroad can pay premiums monthly. </p>
            </li>
            <li>
                <strong>Is there a hierarchy?</strong>
                <p>You may choose your beneficiaries as MediCard Kabayan does not follow a hierarchy.</p>
            </li>
            <li>
                <strong>How about pre-existing conditions? Are they covered? </strong>
                <p>Yes, pre-existing conditions are covered up to a certain limit. </p>
            </li>
            <li>
                <strong>So how does MediCard Kabayan work?</strong>
                <p>The sponsor chooses the plan, fills up the application form, indicating the names of their beneficiaries and makes the initial payment. Once confirmed, MediCard Philippines will process the cards of their beneficiaries. </p>
            </li>
            <li>
                <strong>Is MediCard Kabayan just for Filipinos overseas?</strong>
                <p>MediCard Kabayan is specifically for Overseas Filipino Workers who want to give healthcare protection to people they care about in the Philippines. </p>
            </li>

            <li>
                <strong>Can the sponsor also be a beneficiary?</strong>
                <p>Yes, the sponsor may also be a beneficiary. It should be noted though that services may only be availed if the sponsor comes home to the Philippines within the contract period. </p>
            </li>
            <li>
                <strong>I want to be a sponsor? What should I do?</strong>
                <p>You may visit <a href="http://dev.medicardphils.coms/kabayan">www.medicardphils.com/kabayan</a> and fill up the online application form. You may also leave a message at <a href="mailto:inquiry@medicardphils.com">inquiry@medicardphils.com</a> and we will request our representative to contact you.</p>
            </li>
            <li>
                <strong>I want to sell this product?  How do I go about it?</strong>
                <p>You can be an instrument in making quality healthcare accessible to the families of OFWs by signing up as one of our partners.  Visit <a href="http://dev.medicardphils.com/kabayan">www.medicardphils.com/kabayan</a>, click agent's portal and fill up the application form. </p>
            </li>
        </ul>
    </div>

</div>