@{
    ViewBag.Title = "Home Page";
}
<!-- BANNER -->
<div class="banner">
    <div class="banner-content">
        <img src="@Url.Content("images/header1.jpg")" />
    </div>
</div>
<!--------->
<div class="content-col1">
    <br />
    <h1>Our Kabayan Product</h1>
    <img src="@Url.Content("~/images/card.png")" class="card" />
    <p>Now, Filipinos working abroad can have peace of mind by giving health protection to their loved ones who are based here in the Philippines.</p>
    <p>Medicard, a leading HMO provider, offers a new and innovative product that aims to give everyone access to quality healthcare. MediCard Kabayan, a product specifically designed for overseas Filipinos, provides flexibility because it allows the sponsor to enroll practically everyone - not just immediate family members. The plan is also affordable because the sponsor who is based abroad can pay premiums monthly.  </p>
    <p>"MediCard Kabayan allows Filipino individuals abroad to take advantage of affordable and high quality health coverage for their family, relatives or friends. There are no limits on the number of dependents a sponsor can add," says Mr. Luis Montoya, executive vice president of MediCard Philippines.</p>
    <p>Initially available in Canada, MediCard Kabayan is priced affordably at CAD47 per month. This covers outpatient services such as primary care consultations and tests in any of the MediCard accredited hospitals and clinics. Hospitalization and emergency coverage includes medicines used during confinement, admission kit, diagnostic tests and doctor's fees across the many accredited hospitals nationwide. </p>
    <p>The plan also provides members pre-existing condition coverage up to a certain limit. Additionally, when a sponsor comes home, he/she receives a balikbayan welcome kit that entitles him to an overnight stay in a hotel, treats at Skin and Body by MediCard, executive massage and more. </p>
    <p>Enrolling is fast and easy; simply sign up <a href="http://dev.medicardphils.com/kabayan">kabayan.medicardphils.com.</a>. Interested individuals may also contact a MediCard representative in Canada to further explain their options. </p>

</div>
<div class="clear center-div">

    <div class="content-col2 mobile-collapse">
       
        <div><h2>Rates</h2></div>

        <p>MediCard Kabayan  offers 2 choices to fulfill your beneficiaries’ needs. Click to find the plan that fits your resources.  </p>
        <div style="clear:both">&nbsp;</div>
        <div class="button-rates mobile-collapse"><a href="rates.html">Read More</a></div>
    </div>

    <div class="content-col3 mobile-collapse">
        <h2>Coverage</h2>

        <p>If you’re looking for superior healthcare protection for people you care for in the Philippines, MediCard Kabayan may be the perfect choice.  </p>
        <div>&nbsp;</div>
        <div class="button-coverage mobile-collapse"><a href="coverage.html">Read More</a></div>
    </div>
    <div class="content-col4 mobile-collapse">
        <h2>Apply Now</h2>

        <p>Applying is easy.  There’s no pre-acceptance medical exam, no hierarchy, and you may enroll beneficiaries up to 70 years old.  Just fill up the application form.</p>
        <div>&nbsp;</div>
        <div class="button-apply mobile-collapse"><a href="#">Read More</a></div>
    </div>
</div>