
@{
    ViewBag.Title = "Rates";
}

<div class="content-one-column">
    <h2 align="center">Medicard Kabayan Rates</h2>
    <div class="premiums-table">
        <table cellspacing="0">
            <tr>
                <th width="20%" style="background-color:white; border-left:0px;border-top:0px; border-bottom:0px">&nbsp;</th>
                <th width="40%">Blue Plan</th>
                <th>Purple Plan </th>
            </tr>
            <tr>
                <th class="sub" style="background-color:white; border-left:0px;border-top:0px; border-bottom:0px "></th>
                <th class="sub">Without 5 star hospitals</th>                <th class="sub" align="center">
                    With 5 star hospitals: <br />Asian Hospital and Medical Center, Makati Medical Center, St. Luke's Medical Center - QC, Cardinal Santos Medical Center and The Medical City
                    </th>
            </tr>
            <tr>
                <td>Room Type</td>
                <td align="center">Plan 800 </td>
                <td align="center">Plan 3000 </td>
            </tr>
            <tr>
                <td>Dread Disease Limit</td>
                <td align="center">PhP 75,000</td>
                <td align="center">PhP 150,000 </td>
            </tr>
            <tr>
                <td>Pre-existing condition limit</td>
                <td align="center">PhP 5,000</td>
                <td align="center">PhP 10,000 </td>
            </tr>
            <tr>
                <td>Beneficiary 1</td>
                <td align="center">CAD 469</td>
                <td align="center">CAD 725 </td>
            </tr>
            <tr>
                <td>Beneficiary 2</td>
                <td align="center">CAD 669</td>
                <td align="center">CAD 1,132</td>
            </tr>
            <tr>
                <td>Beneficiary 3</td>
                <td align="center">CAD 769</td>
                <td align="center">CAD 1,382</td>
            </tr>
            <tr>
                <td>Beneficiary 4</td>
                <td align="center">CAD 869</td>
                <td align="center">CAD 1,632</td>
            </tr>
            <tr>
                <td>61-65 years old</td>
                <td align="center">CAD 610</td>
                <td align="center">CAD 942</td>
            </tr>
            <tr>
                <td>66-70 years old</td>
                <td align="center">CAD 750</td>
                <td align="center">CAD 1160</td>
            </tr>
            <tr>
                <td valign="top">Monthly Installment</td>
                <td align="center">
                    Beneficiary 1: CAD 47<br />
                    Beneficiary 2: CAD 67<br />
                    Beneficiary 3: CAD 77<br />
                    Beneficiary 4: CAD 87<br />
                    61-65 years old: CAD 61 <br />
                    66-70 years old: CAD 75
                </td>
                <td align="center">
                    Beneficiary 1: CAD 72 <br />
                    Beneficiary 2: CAD 114 <br />
                    Beneficiary 3: CAD 138 <br />
                    Beneficiary 4: CAD 163 <br />
                    61-65 years old: CAD 94 <br />
                    66-70 years old: CAD 116
                </td>
            </tr>
        </table>
    </div>

</div>

