
@{
    ViewBag.Title = "Index";
}

<div class="content-one-column">
    <h2>For registered agents</h2>
    <p>For your own comfort, we have made the sales kit available in this portal. Download the application form, read the product manual, view the presentation or watch the videos by logging-in to your account.</p>

    <div class="button-fillup"><a href="Agent/Login">Login here</a></div>
    <h2>Want to be part of our team?</h2>
    <p>You too can be an instrument in making quality healthcare accessible to people who are dear to overseas Filipinos.  Just click the link below. </p>
    <div class="button-fillup"><a href="">Fill up the application form and take the test</a></div>
</div>

